# Compte de service global
VC_USER=your_vcenter_user
VC_PASSWORD="your_vcenter_password"

# vCenter 1 (Ex: Production)
VC1_NAME="vCenter1"
VC1_IP=your.vcenter1.ip

# vCenter 2 (Ex: Secours / PRA)
VC2_NAME="vCenter2"
VC2_IP=your.vcenter2.ip

# vCenter 3 (Ex: Secours / PRA)
VC3_NAME="vCenter3"
VC3_IP=your.vcenter3.ip

# vCenter 4 (Ex: Secours / PRA)
VC4_NAME="vCenter4"
VC4_IP=your.vcenter4.ip

# vCenter 5 (Ex: Secours / PRA)
VC5_NAME="vCenter5"
VC5_IP=your.vcenter5.ip

# vCenter 6 (Ex: Secours / PRA)
VC6_NAME="vCenter6"
VC6_IP=your.vcenter6.ip

# vCenter 7 (Ex: Secours / PRA)
VC7_NAME="vCenter7"
VC7_IP=your.vcenter7.ip

# ============================================================
# BAIES DE STOCKAGE -- DELL EMC UNITY (8 baies)
# ============================================================
UNITY_USER=your_unity_user
UNITY_PASSWORD="your_unity_password"

UNITY_1_NAME=Unity-1
UNITY_1_IP=10.0.0.1
UNITY_2_NAME=Unity-2
UNITY_2_IP=10.0.0.2
UNITY_3_NAME=Unity-3
UNITY_3_IP=10.0.0.3
UNITY_4_NAME=Unity-4
UNITY_4_IP=10.0.0.4
UNITY_5_NAME=Unity-5
UNITY_5_IP=10.0.0.5
UNITY_6_NAME=Unity-6
UNITY_6_IP=10.0.0.6
UNITY_7_NAME=Unity-7
UNITY_7_IP=10.0.0.7
UNITY_8_NAME=Unity-8
UNITY_8_IP=10.0.0.8

# ============================================================
# BAIES DE STOCKAGE -- DELL EMC POWERSTORE (3 baies)
# ============================================================
POWERSTORE_USER=your_powerstore_user
POWERSTORE_PASSWORD="your_powerstore_password"

POWERSTORE_1_NAME=PowerStore-1
POWERSTORE_1_IP=10.0.0.10
POWERSTORE_2_NAME=PowerStore-2
POWERSTORE_2_IP=10.0.0.11
POWERSTORE_3_NAME=PowerStore-3
POWERSTORE_3_IP=10.0.0.12

# ============================================================
# BAIES DE STOCKAGE -- DELL EMC DATA DOMAIN (3 baies)
# ============================================================
DD_USER=your_dd_user
DD_PASSWORD="your_dd_password"

DD_1_NAME=DataDomain-1
DD_1_IP=10.0.0.20
DD_2_NAME=DataDomain-2
DD_2_IP=10.0.0.21
DD_3_NAME=DataDomain-3
DD_3_IP=10.0.0.22

# ============================================================
# BAIES DE STOCKAGE -- HUAWEI DORADO (2 baies) -- port 8088
# ============================================================
DORADO_USER=your_dorado_user
DORADO_PASSWORD="your_dorado_password"
DORADO_SCOPE=0

DORADO_1_NAME=Dorado-1
DORADO_1_IP=10.0.0.30
DORADO_2_NAME=Dorado-2
DORADO_2_IP=10.0.0.31

# ============================================================
# BAIES DE STOCKAGE -- SCALITY RING (1 cluster)
# ============================================================
SCALITY_USER=your_scality_user
SCALITY_PASSWORD="your_scality_password"

SCALITY_1_NAME=Scality-Ring-1
SCALITY_1_IP=10.0.0.40
