# Sécurité Flask
SECRET_KEY=generate_a_random_string_here

# Sécurité SSL (True pour activer la vérification, False pour désactiver)
VERIFY_SSL=False
# Chemin vers un certificat CA si VERIFY_SSL est True (optionnel)
# REQUESTS_CA_BUNDLE=/path/to/cacert.pem
